<div style="text-align: center;">
    <h1>Client Data Cleaning Feedback Pipeline</h1>
</div>


## This notebook processes raw client data and generates an organized Excel workbook with feedback on records requiring cleaning.

---

### Each tab in the workbook corresponds to a specific type of data that needs cleaning:

1. Householding
2. Missing parent names
3. Missing child names
4. Missing or invalid emails
5. Missing or invalid phone numbers
6. Duplicates
7. Same parent, same child name
8. Missing or invalid date of birth (DOB)

---

# **Import packages**

In [1]:
import pandas as pd
from datetime import datetime, date, timedelta
import os
from fuzzywuzzy import fuzz
import tkinter as tk
from tkinter import filedialog
import xlsxwriter
import numpy as np


pd.set_option('display.max_columns', None)

---

# **Read in the excel data**

In [2]:
def browse_input():
    input_file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    input_path_var.set(input_file_path)
    input_path_label.config(text=input_file_path)

def browse_output():
    output_folder_path = filedialog.askdirectory()
    output_path_var.set(output_folder_path)
    output_path_label.config(text=output_folder_path)

# Creating a tkinter window
root = tk.Tk()
root.withdraw()  # Hide the main window

# Determine the screen width and height
screen_width = root.winfo_screenwidth()
screen_height = root.winfo_screenheight()

# Calculate the position for the center of the screen
center_x = int(screen_width / 2)
center_y = int(screen_height / 2)

# Creating a Toplevel window for file paths selection
file_dialog = tk.Toplevel(root)
file_dialog.title("Select File Paths")

# Set the position of the file dialog window to the center of the screen
file_dialog.geometry(f"800x250+{center_x - 400}+{center_y - 125}")

# Set background color
file_dialog.configure(bg="#f0f0f0")

# Variables to store the selected file paths
input_path_var = tk.StringVar()
output_path_var = tk.StringVar()

# Input file path button
input_button = tk.Button(file_dialog, text="Select Input File Path", command=browse_input, bg="#2196F3", fg="white", font=("Arial", 12))
input_button.pack(pady=10)

# Label to display selected input file path
input_path_label = tk.Label(file_dialog, text="", bg="#f0f0f0")
input_path_label.pack()

# Output folder path button
output_button = tk.Button(file_dialog, text="Select Output Folder", command=browse_output, bg="#2196F3", fg="white", font=("Arial", 12))
output_button.pack(pady=10)

# Label to display selected output folder path
output_path_label = tk.Label(file_dialog, text="", bg="#f0f0f0")
output_path_label.pack()

# Wait for the file dialog window to be closed
file_dialog.wait_window()

# Once file paths are selected, you can access them using input_path_var.get() and output_path_var.get()
input_file_path = input_path_var.get()
output_folder_path = output_path_var.get()

# save the input file path to a variable
if input_file_path:
    df = pd.read_excel(input_file_path, na_values = ['', 'NaN', 'nan'])
    print("Input file path:", input_file_path)


# Save the output folder path to a variable
if output_folder_path:
    output_folder = output_folder_path
    print("Output folder path:", output_folder)

Input file path: F:/BGCA/example member feedback.xlsx
Output folder path: F:/BGCA

---

# **Householding**

The software system that the client's data will be migrated into groups records by parent first name, last name, and phone number to form households. This section identifies records that should belong to the same household but are currently set to be placed in separate households. I use parent email and phone number to find these records.

In [3]:
###################################### matching emails ###################################### 

# concat parent first name, last name, and phone number to create a household
df['contactid'] = df['PrimaryContactFirstName']+df['PrimaryContactLastName']+df['PrimaryContactPrimaryPhone'].str[-4:]

# change contact id to lowercase
df['contactid'] = df['contactid'].str.lower()

# Find rows where emails are duplicates but if ids are duplicated, drop the last one
filtered_df = df[df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]

# itterate through this process several times
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]
hh_email = filtered_df[filtered_df.duplicated(subset=['PrimContactPrefEmail'], keep=False) & ~filtered_df.duplicated(subset=['PrimContactPrefEmail', 'contactid'], keep= 'first')]

# add a description column to clarify that I used parent email to find these household issues
hh_email['comment'] = 'Emails Match, Same Household?'

# Sort the DataFrame by unit and then email column for clarity
hh_email.sort_values( by = 'UnitCode', inplace = True)
hh_email.sort_values(by='PrimContactPrefEmail', inplace=True)

# create a variable to contact id
contactid_for_hh_emails = hh_email['contactid']

# create list of front columns
hh_front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress',
            'comment']

# move relevant columns to front
hh_email = hh_email[hh_front]

# drop rows with no email
hh_email = hh_email[~hh_email['PrimContactPrefEmail'].isna()]


###################################### matching phones ###################################### 


# concat parent first name, last name, and phone number to create a household
df['contactid'] = df['PrimaryContactFirstName']+df['PrimaryContactLastName']+df['PrimaryContactPrimaryPhone'].str[-4:]

# change contact id to lowercase
df['contactid'] = df['contactid'].str.lower()

# drop everything in the hh_emails df
new_df = df[~df['contactid'].isin(contactid_for_hh_emails)]

# Find rows where phones are duplicates but if ids are duplicated, drop the last one
filtered_df = new_df[new_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]

# itterate through this process several times
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
filtered_df = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]
hh_phone = filtered_df[filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~filtered_df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]

# add a description column
hh_phone['comment'] = 'Phones Match, Same Household?'

# Sort the DataFrame by unit and then email column
hh_phone.sort_values( by = 'UnitCode', inplace = True)
hh_phone.sort_values(by='PrimaryContactPrimaryPhone', inplace=True)

# create list of front columns
hh_front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress',
            'comment']

# move relevant columns to front
hh_phone = hh_phone[hh_front]

# drop rows with no phone number
hh_phone = hh_phone[~hh_phone['PrimaryContactPrimaryPhone'].isna()]


###################################### concatinate emails and phones ###################################### 


householding = pd.concat([hh_email, hh_phone])

householding.head()

C:\Users\ibaca\AppData\Local\Temp\ipykernel_21200\2719210283.py:73: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = new_df[new_df.duplicated(subset=['PrimaryContactPrimaryPhone'], keep=False) & ~df.duplicated(subset=['PrimaryContactPrimaryPhone', 'contactid'], keep= 'first')]

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress,comment
27,HBEN,5270,Bryan,Walker,F,04/29/2005,Brian,Walker,516-555-6789,Alicia.Walker@example.com,275 Magnolia St,"Emails Match, Same Household?"
26,LIUD,5268,Amelia,Walker,M,03/11/2006,Alicia,Walker,415-555-2345,Alicia.Walker@example.com,264 Cedar Blvd,"Emails Match, Same Household?"
19,HBEN,7230,Tyler,Roberts,F,08/28/2002,Sam,Roberts,505-555-5678,Sam.Roberts@example.com,187 Maplewood Blvd,"Emails Match, Same Household?"
18,LIUD,7229,Sofia,Roberts,M,07/12/2003,Sam,Roberts,404-555-1234,Sam.Roberts@example.com,176 Redwood St,"Emails Match, Same Household?"
4,HUM,5169,Ethan,Evans,F,05/18/2008,Emily,Evans,606-555-5678,Emily.Evans@example.com,202 Birch Rd,"Phones Match, Same Household?"

---

# **Missing Parent Names**

The software system that the client's data will be migrated into cannot create records with missing parent names. Therefore, I will provide my client with a list of records that have missing parent names.

In [4]:
# find records where either the parent first name or parent last name is missing
missing_parent_names = df[df['PrimaryContactFirstName'].isna() | df['PrimaryContactLastName'].isna()]

# create list of front columns
parent_names_front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress']

# move relevant columns to front
missing_parent_names = missing_parent_names[parent_names_front]

# sort by unit code
missing_parent_names.sort_values(by = ['UnitCode', 'LastName'], inplace = True)

# view df
missing_parent_names.head()

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress
35,HBEN,5307,Jack,Baker,M,12/06/1997,Jessica,NaN,505-555-6789,Jessica.Baker@example.com,363 Cedar St
36,HUM,5379,Kylie,Bell,M,01/18/2006,Kevin,NaN,Kevin.Bell@example.com,606-555-0123,374 Pine Rd
16,HUM,5181,Quinn,Parker,F,05/21/2005,NaN,Parker,202-555-345,NaN,154 Cedar Rd
8,HUM,4880,Isaac,NaN,M,09/09/2003,NaN,Johnson,212-555-235,NaN,606 Aspen St
24,HUM,5260,Yara,NaN,F,01/22/2008,NaN,Thompson,212-555-4567,Yvonne.Thompson@example.com,242 Oak Hill Rd

---

# **Missing Child Names**

The software system that the client's data will be migrated into cannot create records with missing child names. Therefore, I will provide my client with a list of records that have missing child names.

In [5]:
# find records where either the child first name or child last name is missing
missing_child_names = df[df['FirstName'].isna() | df['LastName'].isna()]

# create list of front columns
front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress']

# move relevant columns to front
missing_child_names = missing_child_names[front]

# sort by unit code
missing_child_names.sort_values(by = ['UnitCode'], inplace = True)

# view df
missing_child_names.head()

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress
8,HUM,4880,Isaac,NaN,M,09/09/2003,NaN,Johnson,212-555-235,NaN,606 Aspen St
24,HUM,5260,Yara,NaN,F,01/22/2008,NaN,Thompson,212-555-4567,Yvonne.Thompson@example.com,242 Oak Hill Rd

---

# **Missing or invalid emails**

Any record with a missing or invalid email will be duplicated in the new software system. Therefore, I will provide my client with a list of records that have missing or invalid emails.

In [6]:
# change email to string
df['PrimContactPrefEmail'] = df['PrimContactPrefEmail'].astype(str)

# define a regular expression for detecting valid emails
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

# df of missing or invalid emails
missing_emails = df[~df['PrimContactPrefEmail'].str.contains(pattern, na = False)]

# create list of front columns
front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress']


# move relevant columns to front
missing_emails = missing_emails[front]

# sort by unit code
missing_emails.sort_values(by = ['UnitCode', 'PrimContactPrefEmail'], inplace = True)

# fill nan values with blanks
def fill_nan_with_blank(value):
    if value == 'nan':
        return ''
    else:
        return value

# apply the function
missing_emails['PrimContactPrefEmail'] = missing_emails['PrimContactPrefEmail'].apply(fill_nan_with_blank)
df['PrimContactPrefEmail'] = df['PrimContactPrefEmail'].apply(fill_nan_with_blank)

# view df
missing_emails.head()

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress
15,HBEN,4866,Parker,O'Connor,F,04/10/2006,Paul,O'Connor,919-555-0123,Paul.O'Connor@example.com,143 Birch Ave
7,HBEN,1523,Parker,O'Connor,F,04/10/2006,Henry,Jackson,909-555-7890,,505 Cherry Blvd
36,HUM,5379,Kylie,Bell,M,01/18/2006,Kevin,NaN,Kevin.Bell@example.com,606-555-0123,374 Pine Rd
0,HUM,4868,Aiden,Anderson,M,01/15/2008,Alice,Anderson,202-555-0123,Alice.Anderson2example.com,123 Elm St
8,HUM,4880,Isaac,NaN,M,09/09/2003,NaN,Johnson,212-555-235,,606 Aspen St

---

# **Missing or invalid phone numbers**

Parent phone numbers are necessary for grouping records into households in the new software system.  Therefore, I will provide my client with a list of records that have missing or invalid phone numbers

In [7]:
# regular expression for detecting a valid ten digit phone number  
# Looks for a ten digit phone number.  
# Allows for parentheses around the first three digits. 
# Allows for separation by dash, dot, or space before the last four digits
pattern = '^1?\(*\)*\d{3}\(*\)*[-.\s]*\d{3}[-.\s]*\d{4}$'

# strip leading and trailing white space
df['PrimaryContactPrimaryPhone'] = df['PrimaryContactPrimaryPhone'].str.strip()

# df of missing or invalid phone numbers
ten_digit_phone_validator = df[~df['PrimaryContactPrimaryPhone'].str.contains(pattern, na = False)]

######################################################################################################

# regular expression for detecting a valid seven digit phone number  
# Allows for separation by dash, dot, or space after the first three digits
pattern = '^\d{3}[-.\s]*\d{4}$'

# df of missing or invalid phone numbers
seven_digit_phone_validator = df[df['PrimaryContactPrimaryPhone'].str.contains(pattern, na = False)]

######################################################################################################

# perform an anti join keeping everything from 'ten_digit_phone_validator' that is not in 'seven_digit_phone_validator'
merged = pd.merge(ten_digit_phone_validator, seven_digit_phone_validator,
                    how = 'left',
                    indicator = True)

# keep only rows that occur in the left df and not in the right
missing_invalid_phone = merged[merged['_merge'] == 'left_only']

# drop the '_merge' column
missing_invalid_phone = missing_invalid_phone.drop(columns = '_merge')

# create list of front columns
front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress']

# move relevant columns to front
missing_invalid_phone = missing_invalid_phone[front]

# sort by unit code
missing_invalid_phone.sort_values(by = ['UnitCode', 'PrimaryContactPrimaryPhone'], inplace = True)

# view df
missing_invalid_phone.head()

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress
6,HBEN,7225,Xander,Thomas,F,12/18/1998,Xena,Thomas,909-555-012,Xena.Thomas@example.com,231 Elm St
10,HBEN,5443,Nathan,Cook,M,04/30/2003,Nora,Cook,909-g55555-3456,Michael.Cook@example.com,407 Maple Ln
4,HUM,5181,Quinn,Parker,F,05/21/2005,NaN,Parker,202-555-345,,154 Cedar Rd
2,HUM,4880,Isaac,NaN,M,09/09/2003,NaN,Johnson,212-555-235,,606 Aspen St
8,HUM,5379,Kylie,Bell,M,01/18/2006,Kevin,NaN,Kevin.Bell@example.com,606-555-0123,374 Pine Rd

---

# **Potential Duplicates**

Duplicates are defined as records with the same first name, last name, and date of birth (DOB). I will provide my client with a list of duplicates to be merged before the data is migrated to the new software system.

In [8]:
# concatinate first name, last name, and DOB and assign to a variable
df['member_first_last_DOB'] = df['FirstName']+df['LastName']+df['DOB'].astype(str)

# create a boolean series where 'True' indicates a duplicate row
duplicates = df.duplicated(subset = ['member_first_last_DOB'], keep = False)

# use the boolean series to filter the df and return the dulpicates
duplicates = df[duplicates]

# create list of front columns
front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress']

# move relevant columns to front
duplicates = duplicates[front]

# sort by unit code, then name
duplicates.sort_values(by = ['LastName', 'FirstName', 'UnitCode'], inplace = True)

# view df
duplicates.head()

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress
1,LDE,5182,Bella,Brown,F,02/22/2007,Ben,Brown,NaN,Ben.Brown2example.com,456 Maple Ave
2,LIUD,4818,Bella,Brown,F,02/22/2007,NaN,Clark,404-555-0789345,Catherine.Clark@example.com,789 Oak Dr
7,HBEN,1523,Parker,O'Connor,F,04/10/2006,Henry,Jackson,909-555-7890,,505 Cherry Blvd
15,HBEN,4866,Parker,O'Connor,F,04/10/2006,Paul,O'Connor,919-555-0123,Paul.O'Connor@example.com,143 Birch Ave
6,LIUD,4648,Parker,O'Connor,F,04/10/2006,Grace,Harris,808-555-3456,Grace.Harris@example.com,404 Walnut St

---

# **Same Parent and Child name**

It’s common for data entry errors to result in the same name being recorded for both the parent and the child. I will provide my client with a list of these records for their review.

In [9]:
# filter for records with the same parent and child name
same_parent_child = df[(df['FirstName'] == df['PrimaryContactFirstName']) & (df['LastName'] == df['PrimaryContactLastName'])]

# create list of front columns
front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress']

# move relevant columns to front
same_parent_child = same_parent_child[front]

# sort by unit code
same_parent_child.sort_values(by = ['UnitCode', 'LastName'], inplace = True)

# view df
same_parent_child.head()

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress
28,HUM,5271,Cheryl,Watson,F,05/07/2004,Cheryl,Watson,617-555-0123,Cheryl.Watson@example.com,286 Spruce Rd
37,LDE,5399,Laura,Collins,F,05/07/2004,Laura,Collins,NaN,Laura.Collins@example.com,385 Birch St
22,LIUD,11,William,Taylor,M,11/05/1999,William,Taylor,NaN,William.Taylor@example.com,220 Willowbrook St

---

# **Missing or invalid DOB**

The age range for individuals in this data should be between 5 and 18. I will provide my client with records that either have a missing date of birth (DOB) or fall outside this specified range.

In [10]:
# convert 'DOB' to datetime
df['DOB'] = pd.to_datetime(df['DOB'], errors = 'coerce')

# fill invalid 'DOB'
missing_DOB = df[df['DOB'].isnull()]

# variable that is more than 18 years ago
eightteen_years_ago = pd.to_datetime(datetime.today().date() - timedelta(days = 365.25*19))

# variable that is less than 5 years ago
five_years_ago = pd.to_datetime(datetime.today().date() - timedelta(days = 365.25*5))

# find DOB before 2005
DOB_before2005 = df[df['DOB'] > five_years_ago]

# find DOB after 2020
DOB_after2020 = df[df['DOB'] < eightteen_years_ago]

# concatinate the three dfs
missing_invalid_DOB = pd.concat([missing_DOB, DOB_before2005, DOB_after2020])

# define a variable for todays date
today = datetime.today()

# create a list of ages
age = (today - missing_invalid_DOB['DOB']).dt.days // 365

# create a column with each kids listed age
missing_invalid_DOB['Member Age'] = [f'This member is {i} years old.' for i in age]

# sort by age
missing_invalid_DOB = missing_invalid_DOB.sort_values(by = 'DOB')

# create list of front columns
front = ['UnitCode',
            'MembershipNumber',
            'FirstName',
            'LastName',
            'Gender',
            'DOB',
            'Member Age',
            'PrimaryContactFirstName', 
            'PrimaryContactLastName', 
            'PrimaryContactPrimaryPhone', 
            'PrimContactPrefEmail',
            'PrimaryContactAddress']

# move relevant columns to front
missing_invalid_DOB = missing_invalid_DOB[front]

# sort by unit code
missing_invalid_DOB.sort_values(by = ['UnitCode', 'DOB'], inplace = True)

# view df
missing_invalid_DOB.head()

,UnitCode,MembershipNumber,FirstName,LastName,Gender,DOB,Member Age,PrimaryContactFirstName,PrimaryContactLastName,PrimaryContactPrimaryPhone,PrimContactPrefEmail,PrimaryContactAddress
35,HBEN,5307,Jack,Baker,M,1997-12-06,This member is 26 years old.,Jessica,NaN,505-555-6789,Jessica.Baker@example.com,363 Cedar St
23,HBEN,7225,Xander,Thomas,F,1998-12-18,This member is 25 years old.,Xena,Thomas,909-555-012,Xena.Thomas@example.com,231 Elm St
11,HBEN,4923,Lily,Martin,M,2000-12-03,This member is 23 years old.,Leo,Martin,516-555-4567,Leo.Martin@example.com,909 Spruce Dr
31,HBEN,5280,Freddie,Wilson,M,2001-08-21,This member is 22 years old.,Fiona,Wilson,919-555-1234,Fiona.Wilson@example.com,319 Aspen Ln
19,HBEN,7230,Tyler,Roberts,F,2002-08-28,This member is 21 years old.,Sam,Roberts,505-555-5678,Sam.Roberts@example.com,187 Maplewood Blvd

---

# **Feedback File**

The first tab in the workbook should provide a summary count of records that need cleaning, categorized by each type of issue found in the subsequent tabs.

In [11]:
# List of DataFrames
dfs = [df,
    missing_parent_names,
    missing_emails,
    missing_child_names,
    missing_invalid_phone, 
    duplicates, 
    same_parent_child, 
    missing_invalid_DOB,
    householding]

# Corresponding names for the DataFrames
df_names = [
    'Total Roster Number',
    'Missing Parent Names (Top Priority)', 
    'Missing or Invalid Emails (Top Priority)',
    'Missing Child Names',
    'Missing or Invalid Phone Numbers', 
    'Duplicates', 
    'Same Parent and Child Name', 
    'Missing or Invalid Date of Birth',
    'Householding']

# Dictionary to store all data
summary_dict = {
    'Category': [],
    'Count': []}

# Populate the dictionary with the names, counts, and additional information
for name, df in zip(df_names, dfs):
    summary_dict['Category'].append(name)
    summary_dict['Count'].append(len(df))

# Convert the dictionary to a DataFrame
feedback_file = pd.DataFrame(summary_dict)

# Display the resulting DataFrame
print(feedback_file)

                                   Category  Count
0                       Total Roster Number     40
1       Missing Parent Names (Top Priority)      7
2  Missing or Invalid Emails (Top Priority)      9
3                       Missing Child Names      2
4          Missing or Invalid Phone Numbers     11
5                                Duplicates      7
6                Same Parent and Child Name      3
7          Missing or Invalid Date of Birth     24
8                              Householding      8

---

# **Export Excel Data to Your File Structure**

I will export these records into a single Excel workbook for the client.

In [12]:
 ######################### this code exports to one excel workbook ######################### 

# list of 
dfs_without_feedback = [missing_parent_names, 
       missing_emails,
       missing_child_names,
       missing_invalid_phone, 
       duplicates, 
       same_parent_child, 
       missing_invalid_DOB,
       householding]

# iterate through each df and format the DOB column
for i in dfs_without_feedback:
    i['DOB'] = pd.to_datetime(i['DOB'], errors = 'coerce', format = '%m/%d/%Y')
    i['DOB'] = i['DOB'].dt.strftime('%m/%d/%Y')

# add the feedback file to the list
dfs = [feedback_file,
       missing_parent_names, 
       missing_emails,
       missing_child_names,
       missing_invalid_phone, 
       duplicates, 
       same_parent_child, 
       missing_invalid_DOB,
       householding]

# create tab names
df_names = ['0 Feedback File',
            'Parent Names', 
            'Emails',
            'Child Names',
            'Phone Numbers', 
            'Duplicates', 
            'Same Parent and Child Name', 
            'Date of Birth',
            'Householding']

# Create a Pandas Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter(os.path.join(output_folder, '0 Feedback File.xlsx'), engine='xlsxwriter')

# Iterate over each DataFrame and its corresponding name
for name, x in zip(df_names, dfs):
    # Write the DataFrame to a separate sheet within the workbook
    x.to_excel(writer, sheet_name=name, index=False)

# Save the workbook
writer.close()

# print the file path to the folder where the file is located
print(f"Excel file 'combined.xlsx' with multiple tabs has been saved to '{output_folder}'.")

Excel file 'combined.xlsx' with multiple tabs has been saved to 'F:/BGCA'.

In [13]:
#  ######################### this code exports to separate excel files ######################### 



# dfs_without_feedback = [missing_parent_names, 
#        missing_emails,
#        missing_child_names,
#        missing_invalid_phone, 
#        duplicates, 
#        same_parent_child, 
#        missing_invalid_DOB,
#        householding]

# for i in dfs_without_feedback:
#     i['DOB'] = pd.to_datetime(i['DOB'], errors = 'coerce', format = '%m/%d/%Y')
#     i['DOB'] = i['DOB'].dt.strftime('%m/%d/%Y')

# dfs = [feedback_file,
#        missing_parent_names, 
#        missing_emails,
#        missing_child_names,
#        missing_invalid_phone, 
#        duplicates, 
#        same_parent_child, 
#        missing_invalid_DOB,
#        householding]

# df_names = ['0 Feedback File',
#             'Parent Names', 
#             'Emails',
#             'Child Names',
#             'Phone Numbers', 
#             'Duplicates', 
#             'Same Parent and Child Name', 
#             'Date of Birth',
#             'Householding']

# for name, x in zip(df_names, dfs):
#     file_name = f'{name}.xlsx'
#     file_path = os.path.join(output_folder, file_name)
#     x.to_excel(file_path, index=False)
#     print(f"Excel file '{name}' has been saved to '{output_folder}'.")